CORS_ORIGIN_LIST="http://localhost:9000,http://127.0.0.1:9000,http://172.19.0.1:9000,http://192.168.1.22:9000"
CONNECTION_STRING="postgres://<user>:<password>@localhost:5432/<dbname>?search_path=<schema>"
PEPPERS="fmgXvsChQsx9fAlq0DPiVg=="
