VITE_API_BASE_URL="https://xxx.com:8701" // backend API endpoint
VITE_BACK_DID="did:web:xxx.com%3A8701" // update with custom URL and port
VITE_DEV_AUTHORIZED_PHONES="+33612345678,+12223333333" // comma list of authorized phone numbers for testing
