FRONTEND_PUBLIC_PORT="8700"
FRONTEND_API_BASE_URL="https://xxx.com:8701" // backend API endpoint
FRONTEND_VITE_BACK_DID="did:web:xxx.com%3A8701" // update with custom URL and port
FRONTEND_USE_DUMMY_ACCESS="true" // can be true or false, used to skip the authentication pages
