version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - nest-init

volumes:
  postgres:
    name: nest-init-docker-db

networks:
  nest-init:
