CONNECTION_STRING="postgres://<user>:<password>@localhost:5432/<dbname>?search_path=<schema>"
CORS_HOSTNAME="<IP ADDRESS>" # example: 192.168.1.100
AWS_ACCESS_KEY_ID="changeme"
AWS_SECRET_ACCESS_KEY="changeme"
