// app global css in SCSS form

$color-brand: #000000;

.zk-text-brand {
    color: $color-brand !important;
}

$color-brand-dark: #00204a;

.bg-brand-dark {
    background-color: $color-brand-dark !important;
}

$color-essec-blue: #1da1e1;

.bg-essec-blue {
    background-color: $color-essec-blue !important;
}

.zk-background-sheet {
    background-color: $secondary;
    border-radius: 15px;
    box-shadow:
        rgba(0, 0, 0, 0.15) 0px 6px 15px 0px,
        rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
}
