// app global css in SCSS form

$color-brand: #000000;

.zk-text-brand {
    color: $color-brand !important;
}

$color-brand-dark: #00204a;

.bg-brand-dark {
    background-color: $color-brand-dark !important;
}

$color-essec-blue: #1da1e1;

.bg-essec-blue {
    background-color: $color-essec-blue !important;
}

.zk-background-sheet {
    background-color: $secondary;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: $accent;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
}
