CONNECTION_STRING="postgres://prisma:pwdchangeme@localhost:5432/zkorum?search_path=zkorum"
AWS_ACCESS_KEY_ID="CHANGEME"
AWS_SECRET_ACCESS_KEY="CHANGEME"
PRIVATE_KEY_FILEPATH="./private.dev.key"
PK_VERSION=2
